body{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.Appli{
    position: relative;
    // width: 100vw;
    // height: 100vh;
    background-color: rgb(27, 38, 52);
}

.boutonBas{
    position: absolute;
    display: flex;
    bottom: 30px;
    right: 30px;
    width: 65px;
    height: 65px;
    border-radius: 100px;
    background-color: rgb(55, 77, 92);
    &:hover{
        background-color: rgb(61, 95, 118);
        cursor: pointer;
        transition: all .1s;
    }
    p{
        margin: 0 auto;
        color: white;
        font-size: 4rem;
        font-weight: lighter;
        align-self: center;
    }
}